.tabs-audio-component {

	.component-widget {
        margin-top: @component-padding;
    }

    .tabsAudio-content-items-inner {
    	padding: @component-padding;
    }

    .tabAudio-content-item-body-inner {
    	bodyinstruction {
            font-weight: bold;
        }
    	instr {
            color:@instruction-color;
        }
    }

    .tabAudio-content-item-title {
    	margin-bottom: @component-padding;
    }

    .tabAudio-content-item-title-inner {
    	font-weight: bold;
    }

		&.add-component-bg {
			&.tabAudio-layout-top {
				.tabsAudio-navigation {
					left: 0;
					right: 0;
					width: auto;
					margin-left: @component-padding;
					margin-right: @component-padding;
				}
			}
		}

}
